/* Для анимации открытия страницы */
body {
  font-family: 'Arial', sans-serif;
  text-align: center;
  /*overflow: hidden;  Предотвращает прокрутку страницы при использовании видеофона */
  opacity: 0;
  animation: fadeInPage 1s forwards;
}

@keyframes fadeInPage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


#background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  filter: brightness(0.4);

}


.exit-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.exit-button:hover {
  color: red; /* Изменение цвета крестика при наведении */
}


.container {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон контейнера */
  color: #fff;
  margin-left: 70px;
  margin-right: 70px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Тень текста */
}

.game-board {
  display: flex;
  justify-content: space-between;
}

.terms {
  display: flex;
  flex-direction: column;
  margin: 20px 50px 0px 50px;
  padding-top: 40px;
}

.definitions {
  display: flex;
  flex-direction: column;
  margin: 20px 50px 0px 150px;
  width: 100px;

}

.card {
  background-color: #d9534f; /* Красный цвет карточки */
  color: #fff;
  font-size: 18px;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-content {
  padding: 10px;
}

.card.term:hover,
.card.definition:hover {
  background-color: #c9302c; /* Темно-красный цвет при наведении */
  transform: scale(1.05); /* Увеличение размера при наведении */
}

.card.term.drag-over,
.card.definition.drag-over {
  background-color: #e74c3c; /* Красный цвет при перетаскивании */
  border: 2px dashed #c0392b;
}

.correct-match {
  background-color: #5cb85c; /* Зеленый цвет для правильных совпадений */
  color: #fff;
  transform: scale(1.05);
}


.shake {
  animation: shake 0.4s ease-in-out;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}



/* Добавление стилей для фоновой анимации фейерверка */
@keyframes fireworks {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

/* Добавление анимации для изображения уровня */
@keyframes levelImageAnimation {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

/* Стили для окна завершения игры */
.completion-message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  font-size: 24px;
  animation: fadeIn 1s;
}

.completion-content {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  text-align: center;
  animation: slideIn 1s ease-out forwards;
}




.completion-message h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.next-round-button {
  display: block; /* Изменение на блочный элемент */
  background-color: #27ae60; /* Темно-зеленый цвет кнопки */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  text-decoration: none;
  margin-top: 20px;

  animation: scaleIn 1s; /* Анимация масштабирования */
}

.next-round-button:hover {
  background-color: #219f56; /* Еще темнее зеленый цвет кнопки при наведении */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}


/* Для вопросов */
.terms {
  /* Добавляем начальное положение вне экрана */
  transform: translateX(-100%);
  opacity: 0;
  animation: slideIn 1s ease-out forwards;
}

/* Для ответов */
.definitions {
  /* Добавляем начальное положение вне экрана */
  transform: translateX(100%);
  opacity: 0;
  animation: slideIn 1s ease-out forwards;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


#level-image {
  position: absolute;
  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 200px; /* Укажите желаемую ширину */
  height: auto; /* Автоматическая высота для сохранения пропорций */
}

/* Добавление стилей для ребусов и их вариантов ответов */
.rebus {
  margin-bottom: 20px;
  
}

.rebus img {
  max-width: 400px;
  margin-bottom: 10px;
  margin-top: 60px;
  transition: transform 0.3s ease; /* Добавляем плавный переход для свойства transform */
}

.rebus img:hover {
  transform: scale(1.1); /* Увеличиваем изображение при наведении */
}


.rebus-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.rebus-option {
  background-color: #d9534f;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  margin: 10px;
  margin-bottom: 70px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.rebus-option:hover {
  background-color: #c9302c;
}

.correct {
  background-color: #5cb85c !important;
  border-radius: 30px;
}

.shake {
  animation: shake 0.4s ease-in-out;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

